.X-ComboBox2.Light{position:relative;display:inline-block;min-width:100px;border:1px solid #b6b6b6;outline:none}
.X-ComboBox2.Light:hover{background:rgba(0,0,0,.03)} 
.X-ComboBox2.Light:focus{border-color:#0098ff;background:rgba(0,0,0,.03)}
.X-ComboBox2.Light .Select{display:flex;align-items:center;padding:0 6px;min-height:2em;cursor:default}
.X-ComboBox2.Light .Select::after{content:"▼";display:flex;flex:1 1 auto;flex-direction:row-reverse;padding:0 .4em;font-size:.5em}
.X-ComboBox2.Light .Select .Item{display:flex;align-items:center}
.X-ComboBox2.Light .Select .Item>.Icon{display:flex;align-items:center;justify-content:center;width:24px;height:24px;margin-right:4px;font-family:fontello}
.X-ComboBox2.Light .Select .Item>.Name{padding-right:.3em}

.X-ComboBox2.Light>.Children{position:absolute;display:none;min-width:100%;max-height:calc(100vh);border:1px solid #b6b6b6;background:#fff;z-index:10;overflow-y:auto;box-sizing:border-box}
.X-ComboBox2.Light>.Children .Group{padding:4px 0}
.X-ComboBox2.Light>.Children .Group>header{padding:0 10px 4px}
.X-ComboBox2.Light>.Children .Group>header .Name{position:relative;font-size:.7em;font-weight:500}
.X-ComboBox2.Light>.Children .Group>.Children>.Item{padding-left:24px}
.X-ComboBox2.Light>.Children .Group:last-child{padding-bottom:0}

.X-ComboBox2.Light>.Children .Item{display:flex;align-items:center;padding:2px 12px 2px 12px;cursor:pointer}
.X-ComboBox2.Light>.Children .Item:hover{background:rgba(29,29,29,.1)}
.X-ComboBox2.Light>.Children .Item.ACTIVE{background:rgba(0,173,255,.5)}
.X-ComboBox2.Light>.Children .Item>.Icon{flex:0 0 auto;display:flex;align-items:center;justify-content:center;width:24px;height:24px;margin-right:4px;font-family:fontello}
.X-ComboBox2.Light>.Children .Item>.Name{white-space:nowrap}
.X-ComboBox2.Light>.Children .Item.DISABLED{opacity:0.3;cursor:not-allowed}
.X-ComboBox2.Light>.Children .Item.DISABLED:hover{background:none}


/** Dark Themes **/
.X-ComboBox2.Dark{position:relative;display:inline-block;min-width:100px;border:1px solid rgba(255,255,255,.3);background:rgba(0,0,0,.5);outline:none;color:#fff}
.X-ComboBox2.Dark:hover{background:rgba(20,20,20,.5)} 
.X-ComboBox2.Dark:focus{border-color:#0098ff;background:rgba(20,20,20,.5)}
.X-ComboBox2.Dark .Select{display:flex;align-items:center;padding:0 6px;min-height:2em;cursor:default}
.X-ComboBox2.Dark .Select::after{content:"▼";display:flex;flex:1 1 auto;flex-direction:row-reverse;padding:0 .4em;font-size:.5em}
.X-ComboBox2.Dark .Select .Item{display:flex;align-items:center}
.X-ComboBox2.Dark .Select .Item>.Icon{display:flex;align-items:center;justify-content:center;width:24px;height:24px;margin-right:4px;font-family:fontello}
.X-ComboBox2.Dark .Select .Item>.Name{padding-right:.3em}

.X-ComboBox2.Dark>.Children{position:absolute;display:none;min-width:100%;max-height:calc(100vh);border:1px solid rgba(255,255,255,.4);background:#000;z-index:10;overflow-y:auto;box-sizing:border-box}
.X-ComboBox2.Dark>.Children .Group{padding:4px 0}
.X-ComboBox2.Dark>.Children .Group>header{padding:0 10px 4px}
.X-ComboBox2.Dark>.Children .Group>header .Name{position:relative;font-size:.7em;font-weight:500;color:rgba(255,255,255,.6)}
.X-ComboBox2.Dark>.Children .Group>.Children>.Item{padding-left:24px}
.X-ComboBox2.Dark>.Children .Group:last-child{padding-bottom:0}

.X-ComboBox2.Dark>.Children .Item{display:flex;align-items:center;padding:2px 12px 2px 12px;cursor:pointer}
.X-ComboBox2.Dark>.Children .Item:hover{background:rgba(255,255,255,.2)}
.X-ComboBox2.Dark>.Children .Item.ACTIVE{background:rgba(0,173,255,.5)}
.X-ComboBox2.Dark>.Children .Item>.Icon{flex:0 0 auto;display:flex;align-items:center;justify-content:center;width:24px;height:24px;margin-right:4px;font-family:fontello}
.X-ComboBox2.Dark>.Children .Item>.Name{white-space:nowrap}
.X-ComboBox2.Dark>.Children .Item.DISABLED{opacity:0.3;cursor:not-allowed}
.X-ComboBox2.Dark>.Children .Item.DISABLED:hover{background:none}