@font-face{font-family:fontello;
src:url(/static/font/fontello.woff2) format('woff2'),
    url(/static/font/fontello.woff) format('woff'),
    url(/static/font/fontello.ttf) format('truetype');font-weight:normal;font-style:normal}

.spring{flex:1 1 auto}

/* Main Portal */
.X-Portal{display:flex;flex:1 1 auto;flex-flow:row nowrap;overflow:hidden}
.X-Portal>.Sidebar{display:flex;flex-direction:column;background:#252525;overflow:hidden;flex:0 0 220px}
.X-Portal>.Sidebar *:focus{outline:#00bcf2 dashed 1px;outline-offset:-1px}
.X-Portal>.Sidebar .Sidebar-Top{box-sizing:border-box;border-bottom:1px solid #444}
.X-Portal>.Sidebar .Sidebar-Top .Collapse-Button{display:flex;height:23px;align-items:center;justify-content:flex-end;padding-right:8px;color:#969696;letter-spacing:-2px;font-family:fontello;cursor:pointer}
.X-Portal>.Sidebar .Sidebar-Top .Collapse-Button:hover{background-color:#3d3d3d} 
.X-Portal>.Sidebar .Sidebar-Top .Collapse-Button:focus{outline:#00bcf2 dashed 1px;outline-offset:-1px}
.X-Portal>.Sidebar .Sidebar-Top .Collapse-Button::before{content:""}


.X-Portal>.Sidebar .Sidebar-Middle{flex:1 1 auto;width:220px;overflow-y:auto}
.X-Portal>.Sidebar .Sidebar-Middle>.Group{}
.X-Portal>.Sidebar .Sidebar-Middle>.Group>header{display:flex;align-items:center;height:1em;margin:10px 0 4px;padding:0 10px}
.X-Portal>.Sidebar .Sidebar-Middle>.Group>header .Name{position:relative;color:#a5a5a5;font-size:.7em;font-weight:500}


.X-Portal>.Sidebar .Sidebar-Middle .Shortcut{display:flex;min-height:40px;align-items:center;padding-left:18px;cursor:pointer}
.X-Portal>.Sidebar .Sidebar-Middle .Shortcut:hover{background-color:rgba(255,255,255,.05)}
.X-Portal>.Sidebar .Sidebar-Middle .Shortcut:focus{outline:#00bcf2 dashed 1px;outline-offset:-1px}
.X-Portal>.Sidebar .Sidebar-Middle .Shortcut.ACTIVE{background:rgba(0,194,255,.15)}
.X-Portal>.Sidebar .Sidebar-Middle .Shortcut>.Icon{height:24px;flex:0 0 24px;background:center no-repeat}
.X-Portal>.Sidebar .Sidebar-Middle .Shortcut>.Name{margin-left:10px;color:#fff;font-size:13px}
            

.X-Portal>.Sidebar.COLLAPSED{flex:0 0 60px}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Top .Collapse-Button::before{content:""}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle{}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle>.Group>header{display:flex;align-items:center;width:60px;box-sizing:border-box}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle>.Group>header::before{content:"";flex:1 1;height:1px;background:#5b5b5b}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle>.Group>header .Name{display:none}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle .Shortcut{width:60px;box-sizing:border-box}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle .Shortcut>.Name{display:none}
            
.X-Portal>.Portal-Content{position:relative;flex:1 1 100%;display:flex;flex-direction:column;overflow:hidden}
.X-Portal>.Portal-Content>.Loading-Overlay{position:absolute;left:0;right:0;top:0;bottom:0;display:flex;opacity:0}
.X-Portal>.Portal-Content>.Loading-Overlay.ACTIVE{opacity:1;transition:opacity .5s .2s}
.X-Portal>.Portal-Content>.Loading-Overlay>.content{display:flex;flex-direction:column;align-items:center;max-width:500px}
.X-Portal>.Portal-Content>.Loading-Overlay>.content .Application-Name{font-size:1.3em;color:black;margin-bottom:5px}
.X-Portal>.Portal-Content>.Loading-Overlay>.content .Application-Description{color:rgba(0,0,0,.5)}
.X-Portal>.Portal-Content>.Loading-Overlay .waiting-box{position:absolute;height:5px;top:50%;overflow:hidden;left:0;right:0}
.X-Portal>.Portal-Content>.Loading-Overlay .waiting-box .cycle{position:absolute;left:-10px;width:5px;height:5px;background:#00abff;border-radius:1px;animation:5s pWz3 infinite cubic-bezier(0,0.85,1,0.15)}
@keyframes pWz3{0%{left:-10px}70%{left:100%}100%{left:100%}}

.X-Portal>.Portal-Content>.Error-Overlay{position:absolute;left:0;right:0;top:0;bottom:0;overflow:auto}
.X-Portal>.Portal-Content>.Error-Overlay .Error-Content{display:flex}
.X-Portal>.Portal-Content>.Error-Overlay .header{display:flex;align-items:center;margin-bottom:20px;border:1px solid grey;border-radius:4px;padding:10px;background:rgba(255,0,0,.06)}
.X-Portal>.Portal-Content>.Error-Overlay .header .Application-Name{font-size:1.3em;color:black}
.X-Portal>.Portal-Content>.Error-Overlay .header>.icon{padding-right:10px;font-size:32px;color:#e20000;text-shadow:black 0 0 3px}
.X-Portal>.Portal-Content>.Error-Overlay .Stack{white-space:pre-wrap;color:#ec0000}


.X-Portal>.Portal-Content>.Portal-Applications{position:absolute;left:0;right:0;top:0;bottom:0;overflow:auto}
.X-Portal>.Portal-Content>.Portal-Applications>*{}
    

/* Any child .X-Portal  */
.X-Portal .X-Portal{}
.X-Portal .X-Portal{}
.X-Portal .X-Portal>.Sidebar{background:unset}
.X-Portal .X-Portal>.Sidebar .Sidebar-Middle .Shortcut>.Name{color:unset;font-size:unset}



/* If you want animation for Sidebar COLLAPSED uncomment below styles */
/*
.X-Portal>.Sidebar{transition:width .3s, flex .3s}
.X-Portal>.Sidebar .Sidebar-Middle .Shortcut{width:100%;box-sizing:border-box}
.X-Portal>.Sidebar.COLLAPSED .Sidebar-Middle .Shortcut{transition:width .3s}
*/