@font-face{font-family:fontello;
src:url(/static/font/fontello.woff2) format('woff2'),
    url(/static/font/fontello.woff) format('woff'),
    url(/static/font/fontello.ttf) format('truetype');font-weight:normal;font-style:normal}


.spring{flex:1 1 auto}


html{height:100%}
body{display:flex;flex-direction:column;height:100%;margin:0;font-family:'Segoe UI';font-size:16px;background-color:#fff}

.topbar{display:flex;flex:0 0 auto;height:40px;background-color:#1c1c1c}
.topbar-logo{margin-left:10px;padding:0 10px;font-size:20px;line-height:40px;color:#55b3ff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-decoration:none}

.main-portal{display:flex;flex:1 1 auto;flex-flow:row nowrap;overflow:hidden}
.main-portal .sidebar{display:flex;flex-direction:column;background:#252525;overflow:hidden;flex:0 0 220px}
.main-portal .sidebar.collapsed{flex:0 0 60px}
.main-portal .sidebar *:focus{outline:#00bcf2 dashed 1px;outline-offset:-1px}
.main-portal .sidebar .sidebar-top{box-sizing:border-box;border-bottom:1px solid #444}
.main-portal .sidebar .sidebar-top .collapse-button{display:flex;height:23px;align-items:center;justify-content:flex-end;padding-right:8px;color:#969696;letter-spacing:-2px;font-family:fontello;cursor:pointer}
.main-portal .sidebar .sidebar-top .collapse-button:hover{background-color:#3d3d3d} 
.main-portal .sidebar .sidebar-top .collapse-button:focus{outline:#00bcf2 dashed 1px;outline-offset:-1px}
.main-portal .sidebar .sidebar-top .collapse-button::before{content:""}
.main-portal .sidebar.collapsed .sidebar-top .collapse-button::before{content:""}

.main-portal .sidebar-middle{flex:1 1 auto;overflow-y:auto}
.main-portal .sidebar.collapsed .sidebar-middle{width:100px}
.main-portal .sidebar-app{display:flex;min-height:40px;align-items:center;padding-left:18px;font-size:13px;cursor:pointer}
.main-portal .sidebar-app:hover{background-color:rgba(255,255,255,.05)}
.main-portal .sidebar-app:focus{outline:#00bcf2 dashed 1px;outline-offset:-1px}
.main-portal .sidebar-app.ACTIVE{background:rgba(0,194,255,.15)}



.main-portal .sidebar-app>.icon{height:24px;flex:0 0 24px;background:center no-repeat}
.main-portal .sidebar-app>.name{margin-left:10px;color:#fff;font-size:13px}
.main-portal .sidebar.collapsed .sidebar-app>.name{display:none}

.portal-content{position:relative;flex:1 1 100%;display:flex;overflow:auto}
.portal-content>.Loading-Overlay{position:absolute;left:0;right:0;top:0;bottom:0;display:flex}
.portal-content>.Loading-Overlay>.content{display:flex;flex-direction:column;align-items:center;max-width:500px}
.portal-content>.Loading-Overlay>.content .Application-Name{font-size:1.3em;color:black;margin-bottom:5px}
.portal-content>.Loading-Overlay>.content .Application-Description{color:rgba(0,0,0,.5)}
.portal-content>.Loading-Overlay .Waiting-Box{position:absolute;height:5px;top:50%;overflow:hidden;left:0;right:0}
.portal-content>.Loading-Overlay .Waiting-Box .cycle{position:absolute;left:-10px;width:5px;height:5px;background:#00abff;border-radius:1px;animation:5s wd infinite cubic-bezier(0,0.85,1,0.15)}
@keyframes wd{0%{left:-10px}70%{left:100%}100%{left:100%}}

.portal-content>.Error-Overlay{position:absolute;left:0;right:0;top:0;bottom:0;display:flex}
.portal-content>.Error-Overlay .header{display:flex;align-items:center;margin-bottom:20px;border:1px solid grey;border-radius:4px;padding:10px;background:rgba(255,0,0,.06)}
.portal-content>.Error-Overlay .header .Application-Name{font-size:1.3em;color:black}
.portal-content>.Error-Overlay .header>.icon{padding-right:10px;font-size:32px;color:#e20000;text-shadow:black 0 0 3px}
.portal-content>.Error-Overlay .Stack{white-space:pre-wrap;color:#ec0000}
.portal-content>.Error-Overlay>div{display:flex;flex-direction:column;padding:10px}



.portal-content>*{min-width:100%}
/*
.portal-content>*{flex:1 1 100%;display:table;min-height:100%;min-width:100%}
*/
