@font-face{
    font-family:fontello;
    src:url('/static/font/fontello.woff2') format('woff2'),
        url('/static/font/fontello.woff') format('woff'),
        url('/static/font/fontello.ttf') format('truetype');
    font-weight:normal;font-style:normal
}

.spring{flex:1 1}
body{margin:0;font-family:'Segoe UI';font-size:16px}
.Content{max-width:1280px;margin:0 auto;padding:0 10px}



/**Style for ascx controls */

.navbar-container{background-color:#1c1c1c}
.navbar-container>.navbar{}
.navbar-container>.navbar>.navs{display:flex}
.navbar-container>.navbar>.navs>.nav{font-size:20px;line-height:2em;color:#55b3ff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-decoration:none}        
.navbar-container>.navbar>.navs>.nav-icon{padding:0 10px;font-family:fontello}
.navbar-container>.navbar>.navs>.nav-icon:hover{background:rgba(255,255,255,.2)}