<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <staticContent>
            <remove fileExtension=".webp"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
            <mimeMap fileExtension=".mkv" mimeType="video/mkv"/>
        </staticContent>

        <handlers>
            <add name="Xortal" verb="*" path="api/xortal/storage" type="Jintell.Xortal.StorageApiHttpHandler, Jintell" />
            <add name="Xortal Transfusions" verb="*" path="api/xortal/transfusions" type="Jintell.Xortal.Transfusions.TransfusionsApiHttpHandler, Jintell" />
        </handlers>
    </system.webServer>
</configuration>